<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista de Mascotas</h2>

<!-- Agregamos botones para agregar dueños y mascotas -->
<div class="mb-3">
    <a th:href="@{/agregarVeterinario}" class="btn btn-primary">Agregar Veterinario</a>
    <a th:href="@{/agregarVacuna}" class="btn btn-primary">Agregar Vacunas</a>
    <a th:href="@{/agregarMascota}" class="btn btn-primary">Agregar Mascota</a>
    <a sec:authorize="hasAuthority('ROL_ADMIN')" th:href="@{/gestorRoles}" class="btn btn-danger">Gestionar Roles (Panel ADMIN)</a>
</div>

<table class="table table-bordered">

    USUARIO AUTENTICADO:
    <div sec:authentication="principal.username"></div>
    <br>
    ROLES DEL USUARIO ATENTICADO:
    <div sec:authentication="principal.authorities"></div>
    <br>

    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Fecha Nac.</th>
        <th>Sexo</th>
        <th>Veterinario</th>
        <th>Vacunas</th>
        <th sec:authorize="hasAuthority('ROL_ADMIN')">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mascota : ${mascotas}">
        <td th:text="${mascota.id}"></td>
        <td th:text="${mascota.nombre}"></td>
        <td th:text="${mascota.especie}"></td>
        <td th:text="${mascota.fechaNacimiento}"></td>
        <td th:text="${mascota.sexo}"></td>
        <td th:text="${userService.obtenerUsuarioPorVeterinario(mascota.veterinario).nombre + ' ' +
            userService.obtenerUsuarioPorVeterinario(mascota.veterinario).apellido}"></td>
        <td>
            <ul>
                <li th:each="vacuna : ${mascota.vacunasAplicadas}" th:text="${vacuna.nombre}"></li>
            </ul>
        </td>
        <!-- Botones de eliminar y actualizar mascota -->
        <td sec:authorize="hasAuthority('ROL_ADMIN')">
            <button th:onclick="'eliminarMascotaConfirmacion(\'' + ${mascota.id} + '\');'" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/actualizarMascota/{id}(id=${mascota.id})}" class="btn btn-warning">Actualizar</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function eliminarMascotaConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la mascota seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/maxcota/eliminarMascota/' + id;
            }
        });
    }
</script>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>